body {
    font-family: 'Jost', sans-serif;
    background-color: #2B2C3A;
    background-size: 100% auto;
    margin: 0;
}
hr {
    border: none;
    background-color: #3c3d4a;
    height: 1px;
}
.header  {
    display: flex;
    margin-bottom: 80px;
}
.container {
    display: flex;
}
.leftbar {
    width: 280px;
    position: fixed;
}

.logo {
    margin-left: 40px;
    margin-top: 19px;
    margin-right: 112px;
}

.topbar {
    width: 100%;
    display: flex;
    position: fixed;

}

.menu-nav {
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 55px;
    margin-right: 312px;
}

.text {
    margin-right: 28px;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.coins-info {
    margin-right: 35px;
    margin-top: 31px;
    margin-bottom: 0;
}

.coins-info > a {
    width: 103px;
    background: #3c3d4a;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    line-height: 0px;
    color: #FFFFFF;
    padding: 7px 7px 9px 9px ;
    margin-right: 10px;
}

.icon {
    width: 28px;
    height: 28px;
    background: #FF4738;
    box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
    border-radius: 4px;
}

#count-hours {
    font-weight: bold;
}
#hours {
    font-size: 14px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.account-info {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.name-info {
    margin-left: 13px;
}
.name-info > ul {
    font-weight: 600;
    font-size: 13px;
    line-height: 10px;
    color: #24CB8D;
}
.name {
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
    margin-right: 15px;
}
.status {
    font-size: 14px;
    line-height: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
    padding: 5px 11px 5px 8px;
    margin-top: -24px;  
}

.menu {
    height: 677px;

}
.menu a {
    text-decoration: none;
}

.menu li {
    list-style: none;
    margin: 0px 0px 13px 0px;
}

.menu-link {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sub-menu-list > li:first-child {
    margin-top: 10px;
}
.sub-menu-list a:active {
    color: #FFFFFF;
}
.sub-menu-list li:active {
    background: #3c3d4a;
}
.sub-menu-list {
    display: none;
}
.sub-menu-link {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    color: #7c7c85;
    margin-right: 50px;
}
.sub-img {
    margin-left: -25px;
    margin-right: 15px;
}

.mailing {
    margin-top: 400px;
    margin-left: 40px;
    width: 220px;
    display: flex;
    align-items: center;
}
.mailing-text {
    font-size: 14px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
    margin: 0 10px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    transition: 0.4s;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}
.switch input {display: none;}
.slider::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: 5px;
    bottom: 3px;
    transition: 0.4s;
    border-radius: 15px;
    background-color: gray;
}
input:checked + .slider::before {
    background-color: #6F6EFF;
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
}
input:checked + .slider::before {
    transform: translateX(15px);
}

.contents {
    margin-left: 280px;
}
.tab-content {
    width: auto;
    margin-left: 65px;
    margin-bottom: 59px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 28px;
    text-decoration: none;
    font-size: 11px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: -7px;
}
.header-h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
}
.main-button {
    padding: 0;
    width: 86px;
    height: 30px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border: none;
    border-radius: 4px;    
    color: #FFFFFF;
}
.button-arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #50515c;
    border-radius: 4px;
    background-color: #2b2c3a;
}
.card {
    display: flex;
 
}
.wrap {
    border-radius: 6px;
    background-color: #383946;
    margin-right: 10px;
    margin-bottom: 10px;
 
}
.card-img {
    position: relative;
}
.image {
    border-radius: 6px 6px 0 0;
}
.button-info {
    position: absolute;
    width: 50px;
    height: 20px;
    padding: 4px 5px 4px 6px;
    left: 15px;
    top: 15px;
    font-size: 12px;
}
.button-dop {
    margin-right: 15px;
}
.about-card {
    margin-left: 15px;
}
.header-card {
    font-weight: normal;
    font-size: 16px;
    line-height: 12px;
    color: #FFFFFF;
}
.text-card {
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    display: flex;
    flex-wrap: wrap;
}
.card-info {
    display: flex;
    justify-content: space-between;
}